@import url(style/header.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja:#EB9D00;
    --azul-degrade:linear-gradient [97.54deg, #002fS2 35.49%, #326589 165.37%]
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
}

body{
    background-color: var(--cor-de-fundo);
}